@import "./mixins";

.non-contact-tech-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    background-color: #ffffffbe;
    color: #323232;
    border-radius: 0.25rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
