.contact-page {
    background-color: #fff;
    border-radius: 0.25rem;

    width: 50%;
    margin: 0 auto;
    padding: 5rem 1rem;
    span {
        line-height: 2.5rem;
    }
}

a.contact-page__button {
    text-decoration: none;
    background-color: #323232;
    font-weight: 700;
    text-transform: capitalize;
}
