.contact-form {
    input, textarea {
        background-color: #fff;
        padding: 1.2rem 0.9rem;
        margin-top: 1rem;
    }

    &__message {
        padding: 1.2rem 0.9rem;
        border: 1px solid rgba(0, 0, 0, 0.23);
        border-radius: 0.25rem;
        outline: none;
        resize: vertical;
        font-family: inherit;
        font-size: 1rem;
        line-height: 1.1876em;
        &.error {
            border-color: #f44336;
        }
    }
    &__submit-button {
        margin-top: 1rem;
        background-color: #323232;
        width: 10rem;
        font-weight: 700;
        text-transform: capitalize;
    }
}