@import "../../_mixins.scss";

.cta {
    background-color: #fff;
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;

    @include respond-to(small) {
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
    }

    @include respond-to(medium) {
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
    }

    @include respond-to(large) {
        padding: 2rem 1rem;
    }

    section {
        h3 {
            font-family: "Merriweather", serif;
            font-size: 4rem;

            @include respond-to(small) {
                font-size: 1.5rem;
                text-align: center;
            }

            @include respond-to(medium) {
                font-size: 3rem;
                text-align: center;
            }

            @include respond-to(large) {
                font-size: 3rem;
                text-align: left;
            }
        }

        p {
            font-size: 1.5rem;
            line-height: 1.8rem;
            text-align: right;
            @include respond-to(small) {
                font-size: 1rem;
                line-height: 1.3rem;
                text-align: center;
            }
            @include respond-to(medium) {
                text-align: center;
            }
        }

        .cta-button {
            margin-top: 1rem;
            background-color: #323232;
            width: 8rem;
            font-weight: 700;
            text-transform: capitalize;

            @include respond-to(small) {
                width: 100%;
            }

            @include respond-to(medium) {
                width: 35%;
                margin-right: auto;
                margin-left: auto;
            }

            @include respond-to(large) {
                width: 80%;
            }
        }
    }
}
