@import "./mixins";

.footer {
    background-color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.25rem;
    &__sections {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 3fr;
        grid-gap: 1rem;
        padding: 1rem 0;

        @include respond-to(small) {
            grid-template-columns: 1fr;
        }
        @include respond-to(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
        .navigation,
        .social,
        .newsletter {
            h4 {
                font-family: "Merriweather", serif;
                display: inline;
                font-size: 2rem;
                margin: 0 0 1rem 0;
                padding: 0;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .navigation ul li a {
            line-height: 25px;
            padding-left: 10px;
        }
        .social ul li a {
            line-height: 30px;
            padding-left: 10px;
            img {
                margin-bottom: -5px;
                padding-top: 3px;
            }
            span {
                line-height: 24px;
            }
        }

        // .newsletter {
        //     .signup {
        //         .substack-embed {
        //             outline: 1px solid #323232;
        //         }
        //         .substack-embed .substack-embed-button {
        //             background-color: #323232;
        //         }
        //     }
        // }
    }
    &__copyright {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        @include respond-to(small & medium) {
            grid-template-columns: 1fr 4fr;
        }
        p {
            display: inline;
            text-align: right;
            padding-top: 15px;
        }
    }
}
#main {
    background-color: #fff;
}
