.footer {
    padding: 1rem;
    margin-top: 2rem;
    &__cta {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        div {
            h3 {
                display: inline;
                font-size: 4rem;
            }

            p {
                font-size: 1.5rem;
            }
            .cta-button {
                margin-top: 1rem;
            }
        }
    }
    &__sections {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        padding: 1rem 0;
        .social ul li a {
            line-height: 30px;
            img {
                margin-bottom: -5px;
                padding-top: 3px;
            }
            span {
                line-height: 24px;
            }
        }
        .newsletter {
            .signup {
                .substack-embed {
                    outline: 1px solid #323232;
                }
                .substack-embed .substack-embed-button {
                    background-color: #323232;
                }
            }
        }
    }
    &__copyright {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        p {
            display: inline;
            text-align: right;
            line-height: 50px;
        }
    }
}
.signup {
    .substack-embed {
        outline: 1px solid #323232;
    }
    .substack-embed .substack-embed-button {
        background-color: #323232;
    }
}
